<!DOCTYPE html>
<html lang="en" ng-app="mcrmsApp">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>MCRMS</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content="vodolaz095"/>
    <link rel="stylesheet" href="/assets/mcrms.min.css"/>
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
</head>
<body>
<div class="jumbotron" ng-controller="headerController">
    <h1>MCRMS</h1>
    <h2>title</h2>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="/#/">Main</a></li>
                <li ng-if="!isUserLogged"><a href="/#/speaker/login">Speaker login</a></li>
                <li ng-if="isUserLogged"><a href="/#/speaker/{{myUUID}}">{{myFirstName}} {{myLastName}}</a></li>
                <li ng-if="isUserLogged"><a href="/#/" ng-click="speakerLogout()">Logout</a></li>


                <li ng-if="!isAdmin"><a href="/#/admin/login">Admin login</a></li>
                <li ng-if="isAdmin"><a href="/#/">!ADMIN! {{myAdminUsername}}</a></li>
                <li ng-if="isAdmin"><a href="/#/search">List speakers</a></li>
                <li ng-if="isAdmin"><a href="/#/" ng-click="adminLogout()">Admin logout</a></li>

            </ul>
        </div>
    </nav>
</div>
<!--start content -->
<div ng-view></div>
<!--end content -->
<!--<script src="/bower_components/jquery/dist/jquery.min.js"></script>-->
<!--<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js" ></script>-->
<!--<script src="/bower_components/angular/angular.min.js"></script>-->
<!--<script src="/bower_components/angular-route/angular-route.min.js"></script>-->
<!--<script src="/js/app.js"></script>-->
<script src="/assets/mcrms.min.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script type="text/javascript" src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</body>
</html>
