<div class="col-md-10 col-md-offset-1"">
    <table class="table table-bordered">
        <thead>
            <th class="text-success text-center" colspan="8">
                2013 Speaker
                Bible
                Uses
                01FacultyTableforBible
                run from qry
                01FacultyQueryforBible
            </th>
            <th class="text-success text-center" colspan="8">SUBMISSION DEADLINE DATES</th>
        </thead>
        <thead>
            <th class="text-danger">
                As of
                5/19/2016
            </th>
            <th>Speaker Details</th>
            <th>Contact Data</th>
            <th>Second person</th>
            <th>Faculty listing</th>
            <th>Disclosure</th>
            <th>Attestation</th>
            <th>Full CV</th>
            <th>Bio-Sketch</th>
            <th>Title</th>
            <th>Description</th>
            <th>Objectives</th>
            <th>Outline</th>
            <th>Audio Visual</th>
            <th>Hotel</th>
            <th>PPT</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    13246
                    Anderson,
                    Benjamin
                    206-543-6352
                    banderso@u.washin
                    gton.edu
                    Session: 014.0
                </td>
                <td></td>
                <td>X</td>
                <td></td>
                <td>X</td>
                <td></td>
                <td>X</td>
                <td></td>
                <td>X</td>
                <td></td>
                <td>X</td>
                <td></td>
                <td>X</td>
                <td></td>
                <td>X</td>
                <td></td>
            </tr>            
        </tbody>
    </table>
</div>